<!doctype html>
<html ng-app="chat">
  <head>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.1.5/angular.min.js"></script>
    <script>
      var app = angular.module('chat', []);

      app.filter('reverse', function() {
        return function(items) {
          return items.slice().reverse();
        };
      });

      app.controller('ChatCtrl', function ChatCtrl($scope) {
        $scope.msgs = [];
        var socket = io.connect('http://localhost:9000');
        socket.on('append', function(data) {
          $scope.$apply(function() {
            $scope.msgs.push(data.value);
          });
        });

        $scope.addMsg = function() {
          socket.emit("chat", {value: $scope.newMsg});
          $scope.newMsg = "";
        };

      });
    </script>
  </head>
  <body ng-controller="ChatCtrl">
    <div>
      <input ng-model="newMsg" type="text"/><button ng-click="addMsg()">send</button>
    </div>
    <div>
      <p ng-repeat="msg in msgs | reverse">{{msg}}</p>
    </div>
  </body>
</html>
